@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");
body {
   
  }

*{
    margin:0;
    padding: 0;
}
#headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    scale: 0.9;
    font-family: "Rubik", sans-serif;
}
#cart{
    display: flex;
    font-weight:bold;
    align-items: center;
    font-size: 20px;
}
.kwlogocontainer{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width:20%;
    padding:4% 5%; 
}
.kwbackground{
    height:500px;
    width:100%;
    background-image: url("./assets/kw-background.png");
    background-size: 100% 100%;
    color:white;
}
.kwbackground h1{
    font-size:65px;
}
.kwbackground h5{
    font-size:23px;
    margin-top:20px;
    font-family: "Rubik", sans-serif;
}


#books-container{
    display:flex;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
}
.books{
    max-width: 200px;
}
#books-section{
    padding:5%;
}


#games-section{
    padding: 5%;
}
#games-container{
    display: flex;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
}
.games{
    max-width: 300px;
}

.crafts{
   max-width: 300px;
}
#crafts-section{
    padding:5%;
}
#crafts-container{
    display: flex;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
}

.booksnav{
    margin: 10px;
}
.addicon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addbtn{
    display: flex;
    background-color: rgb(46, 134, 164);
    border-radius: 10px;
    color: white;
    padding: 5px;
    align-items: center;
    scale: 0.9;
}
.author,.craftdescription,.gamedescription{
    color:grey;
}
#footernav{
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#krishti{
    margin-left: 20px;
    height: 100px;
    width: 100px;
    border-radius: 60%;
}
#broughttoyou{
    margin-left: 50px;
}
#madeby{
    text-align: right;
    margin-right: 50px;
}


@media(max-width:600px){
    .addicon{
        justify-content: space-around;
    }
    body{
        text-align: center;
    }
    #books-container,#games-container,#crafts-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #cart{
        font-size: 15px;
    }
}